.home-hero {
  margin-bottom: 120px;
}

.home-hero .home-hero-container {
  padding: 80px 24px 451px;
  background: var(--peach);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: url('../../images/home/desktop/bg-pattern-hero-home.svg');
  background-repeat: no-repeat;
  background-size: 640px 640px;
  background-position: right -265px center;
  overflow-y: hidden;
  position: relative;
}

.home-hero .home-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.home-hero .home-hero-content h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

.home-hero .home-hero-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

.home-hero a {
  background: var(--white);
  padding: 18px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  color: var(--dark-grey);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.home-hero a:hover,
.home-hero a:active {
  background: var(--light-peach);
  color: var(--white);
}

.home-hero .home-hero-phone-img {
  position: absolute;
  bottom: -202px;
  width: 284px;
  height: 573px;
  filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.5));
}

@media (min-width: 768px) {
  .home-hero {
    padding: 0 40px;
  }

  .home-hero .home-hero-container {
    padding: 60px 56px 457px;
    gap: 20px;
    background-position: right -170px center;
    border-radius: 15px;
  }

  .home-hero .home-hero-content {
    gap: 16px;
  }

  .home-hero .home-hero-content h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .home-hero .home-hero-content p {
    width: 77.26%;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 1280px) {
  .home-hero {
    padding: 0 165px;
    margin-bottom: 160px;
  }

  .home-hero .home-hero-container {
    padding: 145px 96px;
    gap: 40px;
    background-position: right center;
    align-items: flex-start;
  }

  .home-hero .home-hero-content {
    align-items: flex-start;
    width: 58.82%;
    gap: 12px;
  }

  .home-hero .home-hero-content h1 {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .home-hero .home-hero-content p {
    text-align: left;
  }

  .home-hero .home-hero-phone-img {
    bottom: -72px;
    align-self: flex-end;
  }
}
