.contact-us-form {
  padding: 72px 24px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background-color: var(--peach);
  background-image: url('../../images/contact/mobile/bg-pattern-hero-contact-mobile.svg');
  background-repeat: no-repeat;
  background-size: 876px 990px;
  background-position: top left -92px;
}

.contact-us-form .contact-us-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.contact-us-form .contact-us-form-content h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

.contact-us-form .contact-us-form-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

.contact-us-form .contact-us-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.contact-us-form .contact-us-form-form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.contact-us-form .contact-us-form-form input:focus,
.contact-us-form .contact-us-form-form textarea:focus,
.contact-us-form .contact-us-form-form button:focus {
  outline: 0;
}

.contact-us-form .contact-us-form-form input,
.contact-us-form .contact-us-form-form textarea {
  border: 0;
  border-bottom: 1px solid var(--white);
  background: 0;
  padding: 0 0 12px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
  color: var(--white);
}

.contact-us-form .contact-us-form-form input::placeholder,
.contact-us-form .contact-us-form-form textarea::placeholder {
  opacity: 0.5;
}

.contact-us-form .contact-us-form-form button {
  border: 0;
  border-radius: 8px;
  background: var(--white);
  color: var(--dark-grey);
  padding: 18px 48px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contact-us-form {
    padding: 72px 56px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    align-items: flex-start;
    background-image: url('../../images/contact/desktop/bg-pattern-hero-desktop.svg');
    background-size: 640px 640px;
    background-position: top -83px left -121px;
  }

  .contact-us-form .contact-us-form-content {
    align-items: flex-start;
    gap: 32px;
  }

  .contact-us-form .contact-us-form-content h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .contact-us-form .contact-us-form-content p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .contact-us-form .contact-us-form-form {
    align-items: flex-end;
    gap: 24px;
  }

  .contact-us-form .contact-us-form-form input,
  .contact-us-form .contact-us-form-form textarea {
    padding: 0 0 12px 24px;
    font-weight: 500;
  }
}
