.services-hero {
  padding: 105px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--peach);
  background-image: url('../../images/shared/mobile/bg-pattern-design-pages-intro-mobile.svg');
  background-size: 876px 584px;
  background-position: top right;
  background-repeat: no-repeat;
}

.services-hero h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

.services-hero p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
}

@media (min-width: 768px) {
  .services-hero {
    margin: 0 40px;
    border-radius: 15px;
    padding: 64px 0px;
    background-image: url('../../images/shared/tablet/bg-pattern-design-pages-intro-tablet.svg');
    background-position: center left -21px;
  }

  .services-hero h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .services-hero p {
    font-size: 16px;
    line-height: 26px;
    width: 59%;
  }
}
