.locations-cta {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-bottom: 120px;
  position: relative;
}

.locations-cta .locations-cta-bg-pattern {
  display: none;
}

.locations-cta .locations-cta-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.locations-cta .locations-cta-country-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.locations-cta .locations-cta-country-content h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-grey);
}

.locations-cta .locations-cta-country-content a {
  padding: 18px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--peach);
  border-radius: 8px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .locations-cta {
    gap: 80px;
  }
}

@media (min-width: 1280px) {
  .locations-cta {
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    padding: 0 165px;
    margin-bottom: 160px;
  }

  .locations-cta .locations-cta-bg-pattern {
    width: 1006px;
    height: 594px;
    display: block;
    position: absolute;
    background-image: url('../../images/shared/desktop/bg-pattern-leaf.svg');
    background-repeat: no-repeat;
    background-size: 1006px 594px;
    pointer-events: none;
    top: 182px;
    right: -165px;
    z-index: -1;
  }

  .locations-cta .locations-cta-country {
    flex: 1;
  }
}
