.about-subhero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.about-subhero .about-subhero-image {
  width: 100%;
}

.about-subhero .about-subhero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #fdf3f0;
  background-image: url('../../images/shared/desktop/bg-pattern-three-circles.svg');
  background-repeat: no-repeat;
  background-size: 584px 584px;
  background-position: top left;
  padding: 80px 24px;
}

.about-subhero .about-subhero-content h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--peach);
  text-align: center;
}

.about-subhero .about-subhero-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--dark-grey);
  text-align: center;
}

@media (min-width: 768px) {
  .about-subhero {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    overflow: hidden;
  }

  .about-subhero .about-subhero-content {
    background-position: top -212px right 12px;
    padding: 64px 56px;
  }

  .about-subhero .about-subhero-content h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .about-subhero .about-subhero-content p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 1280px) {
  .about-subhero {
    margin: 0 165px 160px;
    align-items: stretch;
  }

  .about-subhero .about-subhero-image {
    width: 42.88%;
    min-height: 640px;
    object-fit: cover;
  }

  .about-subhero .about-subhero-content {
    width: 57.11%;
    justify-content: center;
    align-items: flex-start;
    padding: 154px 96px;
    background-position: bottom left -146px;
  }

  .about-subhero .about-subhero-content h1 {
    text-align: left;
  }

  .about-subhero .about-subhero-content p {
    text-align: left;
  }
}
