.services-navigation {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  padding: 0px 24px;
  margin-bottom: 96px;
}

.services-navigation .services-navigation-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 90px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  border-radius: 15px;
}

.services-navigation .services-navigation-service h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1.4px;
  color: var(--white);
  text-transform: uppercase;
}

.services-navigation .services-navigation-service a {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .services-navigation {
    padding: 0px 40px;
    margin-bottom: 120px;
  }

  .services-navigation .services-navigation-service {
    gap: 24px;
    padding: 54px 0;
  }

  .services-navigation .services-navigation-service h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
  }
  .services-navigation .services-navigation-service a {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .services-navigation {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0px 165px;
    margin-bottom: 160px;
  }

  .services-navigation .services-navigation-service {
    padding: 107px 0;
  }
}
